.accordion {
  //max-width: 500px;
  margin: 0 auto 50px auto;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    margin-bottom: 34px;
    padding: 10px;
  }

  &__element.is-active > &__button {
    opacity: 0.5;
  }

  &__button {
    width: 100%;
    padding: 10px;

    text-transform: uppercase;

    cursor: pointer;
  }

  &__wrapper {
    padding: 10px;
  }
}

.accordion__element {
  padding: 0;
  margin: 0;
  padding: 26px 0 23px 0;
  border-bottom: 1px solid rgba(28, 51, 116, 0.20);

  @include vp-767 {
    padding: 21px 0 18px 0;
  }
}

.accordion__element:first-child {
  border-top: 1px solid rgba(28, 51, 116, 0.20);
}

.accordion__button {
  background-color: transparent;
  border: 1px solid #1c3374;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.accordion__button-container {
  display: flex;
  align-items: center;
}

.accordion__wrapper p {
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;
  padding-top: 7px;

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    padding-top: 12px;
  }
}

.accordion__button-container p {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.12px;

  @include vp-1199 {
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 120%;
  }
}

.accordion__wrapper {
  padding: 0;
}

.accordion__content {
  padding-right: 158px;

  @include vp-767 {
    padding-right: 0px;
  }
}
