.recording__user-name,
.recording__phone-number {
  position: relative;

  label {
    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #74819c;
      color: $color-default-white;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      width: 100%;
      padding-bottom: 4px;

      transition: border 0.3s ease;

      &:hover {
        border-bottom: 1px solid $color-default-white;
      }

      &:focus-visible,
      &:active {
        border: none;
        outline: 1px solid $color-default-white;
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-error;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-bottom: 1px solid $color-error;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba($color-error, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border-bottom: 1px solid #22b259;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    top: 25px;

    &.is-invalid {
      color: $color-error;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
