.main-container__image-wrapper {
  position: relative;
  overflow: hidden;
}

.main-container__image {
  display: block;
  position: absolute;
  top: 31.5em;
  right: -11.5em;
  width: auto;
  height: auto;

  @include vp-1199 {
    top: 91.3em;
    right: -5em;
  }

  @include vp-767 {
    display: none;
  }
}
