.main-container__image-wrapper {
  position: relative;
  overflow: hidden;
}

.main-container__image {
  display: block;
  position: absolute;
  top: 55vh;
  right: -20vh;
  width: auto;
  height: auto;

  @include vp-1199 {
    top: 167vh;
    right: -9vh;
  }

  @include vp-767 {
    display: none;
  }
}
